*{
  margin: 0;
  padding: 0;
}


.header {
  background-color: #2c3e50;
  color: #ffffff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.header h1 {
  margin: 0;
  font-style: italic;
}

.nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
 
}

.nav a:hover {
  color: #f1c40f;
}
