*{
    margin: 0%;
    padding: 0%;
}
.rooms-section {
  padding: 90px 10%;
  background-color: #ffffff;
}

.rooms-title {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 70px;
  color: #222;
  
}

.two-column {
  display: flex;
  align-items: center;
  gap: 190px;
  margin-bottom: 80px;
}

.two-column img {
  width: 50%;
  height: 350px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);

}

.room-content {
  width: 50%;
}

.room-content h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #333;
}

.room-content p {
  font-size: 16px;
  line-height: 1.8;
  color: #666;
}



