.booking-form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  
}

.booking-form input {
  padding: 10px;
  max-width: 200px;
   text-align: center;
  justify-content: center;
  justify-items: center;
  width: 300px;

}

.booking-form button {
  padding: 10px 20px;
  background-color: #F65332;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
